$accent-1: #5bc3ebff;
$accent-2: #f06449ff;
$accent-3: #EFBA5F;
$accent-3-light: #F9E5C3;
$bg-1: rgb(255, 252, 237);
$text-1: rgb(28, 28, 28);

@font-face {
    font-family: roboto-slab;
    src: url("/font/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf");
}

:root {
    font-family: roboto-slab;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

    --accent-1: #5bc3ebff;
    --accent-2: #f06449ff;
    --accent-3: #EFBA5F;
    --accent-3-light: #F9E5C3;
    --bg-1: rgb(255, 252, 237);
    --text-1: rgb(28, 28, 28);
}

html {
    background-color: var(--bg-1);
}

html, body, #root {
    padding: 0;
    margin: 0;
    color: var(--text-1);
}

.App {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.style-switcher {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    width: 3rem;
    height: 3rem;
    align-items: center;
    border: var(--text-1) 4px solid;
    margin: .5rem;
    padding: .125rem;
    border-radius: 1rem;
    color: var(--text-1);
    cursor: pointer;
}

.Header {
    place-self: center;
}

.Ditto {
    place-self: center;
    width: 80%;
}

.ditto-box {
    font-family: roboto-slab;
    font-weight: 400;
    font-size: xx-large;
    background-color: var(--accent-3-light);
    border: none;
    border-bottom: var(--accent-3) 4px solid;
    padding: 1rem 1rem .25rem 1rem;
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    width: 100%;

    ::spelling-error {
        text-decoration: none;
    }
}

.ditto-box:focus-visible {
    outline: none;
}

.ditto-words {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
    justify-content: center;
    text-align: center;
}

.ditto-words span {
    font-size: x-large;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ditto-output-sentence {
    display: flex;
    gap: 1rem;
}

.ditto-part-is {
    color: darkseagreen;
}
.ditto-part-if {
    color: darkgoldenrod;
}
.ditto-part-a {
    color: darkorchid;
}
.ditto-part-is-not {
    color: darkred;
}

.messynotes-title {
    font-size: 5rem;

    span {
        color: var(--accent-3);
    }
}